<div class="center">

  <mat-card>
    <h2>Add Item By Type</h2>
    <span>Available Items Count: {{spaceCount}}</span>
    <form [formGroup]="appService.formGroup" class="normal-form" (ngSubmit)="onSubmit()">
      <mat-grid-list cols="2" rawHeight="300px">
        <mat-grid-tile>
          <div class="controls-container">
            <input type="hidden" formControlName="$key">
            <mat-form-field>
              <input formControlName="title" matInput placeholder="Item Title">
              <mat-error>Item Title is mandatory</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-select formControlName="availability" [(ngModel)]="availability" placeholder="Item Availability">
                <mat-option *ngFor="let option of availabilityOptions" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="availability == false">
              <input formControlName="reader" matInput placeholder="Current Reader">
            </mat-form-field>
            <mat-form-field>
              <mat-select formControlName="type" [(ngModel)]="selectedValue" placeholder="Item Type">
                <mat-option *ngFor="let item of selections" [value]="item.value">
                  {{item.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="pdate" matInput [matDatepicker]="picker" placeholder="Published Date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
              <mat-error>Published Date is mandatory</mat-error>
            </mat-form-field>
            <div class="button-row">
              <button mat-raised-button color="primary" type="submit" [disabled]="appService.formGroup.invalid">Save
                Item
              </button>
              <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="controls-container">
            <mat-form-field *ngIf="selectedValue == '1'">
              <input formControlName="author" matInput placeholder="Book Author">
              <mat-error>Author is mandatory</mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="selectedValue == '2'">
              <input formControlName="producer" matInput placeholder="Producer">
            </mat-form-field>
            <mat-form-field *ngIf="selectedValue == '1'">
              <input formControlName="publisher" matInput placeholder="Publisher">
            </mat-form-field>
            <mat-form-field *ngIf="selectedValue == '1'">
              <input formControlName="totalPages" matInput placeholder="Total Pages">
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>

